@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
  --blue: #1D7874;
  --gray1: #DADADA;
  --gray2: #817A7A;
  --blue-dark: #0A5967;
  --yellow: #D7D72C;
  --gradient: linear-gradient(to right, #2C938E 21%, #0A5967 77%);

}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--primary-gradient);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    background: linear-gradient(to right, #2C938E 21%, #0A5967 77%);
  }

  .btn:hover {
    opacity: 0.96;
  }
}